<h2 mat-dialog-title class="mat-primary">Status Details</h2>
<div mat-dialog-content>
    <form [formGroup]="form">
        <h5>Name: {{ userName }} | {{ phone }}</h5>
        <div class="form-field">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Price per Day" formControlName="pricePerDay" required>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Price per Km" formControlName="pricePerKm" required>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field class="example-full-width">
                <mat-select placeholder="Work Type" formControlName="vehicleType" required>
                    <mat-option *ngFor="let vehicle of vehicleTypeOptions" [value]="vehicle">{{ vehicle }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field class="example-full-width">
                <mat-select placeholder="Site" formControlName="site" name="site" required>
                    <mat-option *ngFor="let site of siteOptions" [value]="site">{{ site }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Acc No." formControlName="accNo" required>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="IFSC" formControlName="ifsc" required>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Bank" formControlName="bank" required>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field class="example-full-width">
                <mat-select placeholder="Status" formControlName="status" required>
                    <mat-option *ngFor="let status of statusOptions" [value]="status">{{ status }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Add other form fields as needed -->

        <div mat-dialog-actions>
            <button mat-raised-button color="primary" type="submit" (click)="submitForm()">
                Save
            </button>
            <button mat-raised-button color="warn" (click)="closeDialog()">Close</button>
        </div>
    </form>
</div>
